.container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    margin: 0rem 1.5rem;
    margin-top: 15rem;
    overflow: hidden;
    border: 1px solid blue;
}
.span{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    font-size: 2rem;
    font-weight: 100;
}
.title_container{
    grid-row-start: 2;
    grid-row-end: 13;
    grid-column-start: 3;
    grid-column-end: 13;

}
.title{
    font-size: calc(15vmax * 9 / 16);
    font-family: 'PPNeueMontreal';
    text-transform: uppercase;
    line-height: calc(15vmax * 9 / 16);
}
@media (max-width: 900px) {
    .container{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(10, 1fr);
        margin: 0rem 1.5rem;
        margin-top: 10rem;
        overflow: hidden;
    }
    .title_container{
        grid-row-start: 4;
        grid-row-end: 10;
        grid-column-start: 1;
        grid-column-end: 13;
    }
    .title{
        font-size: calc(15vmax * 9 / 16);
        font-family: 'PPNeueMontreal';
        text-transform: uppercase;
        font-weight: 800;
    }
}

.img_container{
    position: relative;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    margin: 0rem 1.5rem;
    border: 1px solid blue;
    padding-top: 2rem;
}
.img{
    position: relative;
    grid-row-start: 1;
    grid-row-end: 13;
    grid-column-start: 3;
    grid-column-end: 12;
    width: calc(50vmax * 9 / 16);  
}

@media (max-width: 900px) {
    .img_container{
        position: relative;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        margin: 0rem 1.5rem;
    }
    .img{
        grid-row-start: 1;
        grid-row-end: 1;
        grid-column-start: 1;
        grid-column-end: 1;
        width: 100%;  
    }
}
.self_container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    margin: 0rem 1.5rem;
    padding-top:2rem;
    border:1px solid blue;
}
.self_img{
    grid-row-start: 1;
    grid-row-end: 12;
    grid-column-start: 3;
    grid-column-end: 12;
    width: calc(50vmax * 9 / 16);  
}
@media (max-width: 900px) {
    .self_container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        margin: 0rem 1.5rem;
    }
    .self_img{
        grid-row-start: 1;
        grid-row-end: 1;
        grid-column-start: 1;
        grid-column-end: 1;
        width: 100%;  
    }   
}
.about_container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(5, 1fr);
    margin: 0rem 1.5rem;
    border: 1px solid red;
}
.about_left{
    font-size: calc(3vmax * 9 / 16);
    font-family: 'PPNeueMontreal';
    font-weight: 100;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 5;
    padding-top: 2rem;   
}
.about_right{
    font-size: calc(3vmax * 9 / 16);
    font-family: 'PPNeueMontreal';
    font-weight: 100;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 8;
    grid-column-end: 10; 
    padding-top: 2rem;    
}
.about_lower_right{
    font-size: calc(3vmax * 9 / 16);
    font-family: 'PPNeueMontreal';
    font-weight: 100;
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 8;
    grid-column-end: 10; 
    padding-top: 2rem;   
    }
@media only screen and (max-width: 900px) {
    .about_container{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(8, 1fr);
        margin: 0rem 1.5rem; 
    }
    .about_left{
        font-size: calc(6vmax * 9 / 16);
        font-family: 'PPNeueMontreal';
        font-weight: 100;
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 13;
        padding-top: 4rem;  
    }
    .about_right{
        font-size: calc(6vmax * 9 / 16);
        font-family: 'PPNeueMontreal';
        font-weight: 100;
        grid-row-start: 2;
        grid-row-end: 6;
        grid-column-start: 1;
        grid-column-end: 13;
        padding-top: 4rem;     
    }
    .about_lower_right{
        font-size: calc(6vmax * 9 / 16);
        font-family: 'PPNeueMontreal';
        font-weight: 100;
        grid-row-start: 6;
        grid-row-end: 10;
        grid-column-start: 1;
        grid-column-end: 13; 
        padding-top: 4rem;   
        }
}