.container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    margin: 0rem 1.5rem;
    margin-top: 15rem;
    overflow: hidden;
}
.span{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    font-size: 2rem;
    font-weight: 100;
}
.title_container{
    grid-row-start: 2;
    grid-row-end: 13;
    grid-column-start: 3;
    grid-column-end: 13;

}
.title{
    font-size: calc(15vmax * 9 / 16);
    font-family: 'PPNeueMontreal';
    text-transform: uppercase;
    line-height: calc(15vmax * 9 / 16);
}
@media (max-width: 900px) {
    .container{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(10, 1fr);
        margin: 0rem 1.5rem;
        margin-top: 10rem;
        overflow: hidden;
    }
    .title_container{
        grid-row-start: 4;
        grid-row-end: 10;
        grid-column-start: 1;
        grid-column-end: 13;
        border: 1px solid red;
    }
    .title{
        font-size: calc(15vmax * 9 / 16);
        font-family: 'PPNeueMontreal';
        text-transform: uppercase;
        font-weight: 800;
    }
}

.img_container{
    position: relative;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    margin: 0rem 1.5rem;
}
.img{
    position: relative;
    grid-row-start: 1;
    grid-row-end: 13;
    grid-column-start: 3;
    grid-column-end: 12;
    width: calc(50vmax * 9 / 16);  
}

@media (max-width: 900px) {
    .img_container{
        position: relative;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        margin: 0rem 1.5rem;
    }
    .img{
        grid-row-start: 1;
        grid-row-end: 1;
        grid-column-start: 1;
        grid-column-end: 1;
        width: 100%;  
    }
}
.self_container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    margin: 0rem 1.5rem;
}
.self_img{
    grid-row-start: 1;
    grid-row-end: 12;
    grid-column-start: 3;
    grid-column-end: 12;
    width: calc(50vmax * 9 / 16);  
}
@media (max-width: 900px) {
    .self_container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        margin: 0rem 1.5rem;
    }
    .self_img{
        grid-row-start: 1;
        grid-row-end: 1;
        grid-column-start: 1;
        grid-column-end: 1;
        width: 100%;  
    }   
}