.container{
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: repeat(14, 1fr);
    margin: 0rem 1.5rem;
    margin-top: 2rem;
    padding-top: 2rem;
    border: 1px solid blue;
}
.span{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    font-size: 2rem;
    font-weight: 200;   
}
.title{
    grid-row-start: 1;
    grid-row-end: 5;
    grid-column-start: 7;
    grid-column-end: 14;
    font-size: calc(12vmax * 9 / 16);
    padding-bottom: 2rem;
    font-family: 'PPNeueMontreal';
    text-transform: uppercase;
    line-height: 10rem;
}
.award_container{
    grid-row-start: 6;
    grid-row-end: 7;
    grid-column-start: 2;
    grid-column-end: 3;    
}
@media (max-width: 900px){
    .title{
        grid-row-start: 2;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 1;
        font-size: calc(12vmax * 9 / 16);
        padding-bottom: 2rem;
        font-family: 'PPNeueMontreal';
        text-transform: uppercase;
        line-height: 5rem;
        border: 1px solid red;
    }
}