.container{
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: repeat(14, 1fr);
    margin: 0rem 1.5rem;
    margin-top: 2rem;
    padding-top: 2rem;
    border: 1px solid blue;
}
.span{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    font-size: 2rem;
    font-weight: 200;   
}
.title{
    grid-row-start: 1;
    grid-row-end: 5;
    grid-column-start: 7;
    grid-column-end: 14;
    font-size: 10rem; 
    padding-bottom: 2rem;
    font-family: 'PPNeueMontreal';
    text-transform: uppercase;
    line-height: 10rem;
}
.project{
    grid-row-start: 6;
    grid-row-end: 7;
    grid-column-start: 2;
    grid-column-end: 3;   
    font-size: 2rem;
    font-family: 'PPNeueMontreal';
}
.awards{
    grid-row-start: 6;
    grid-row-end: 7;
    grid-column-start: 7;
    grid-column-end: 9;   
    font-size: 2rem;
    font-family: 'PPNeueMontreal';
}
.year{
    grid-row-start: 6;
    grid-row-end: 7;
    grid-column-start: 12;
    grid-column-end: 13;   
    font-size: 2rem;
    font-family: 'PPNeueMontreal';
}
.border{
    grid-row-start: 6;
    grid-row-end: 7;
    grid-column-start: 2;
    grid-column-end: 13;
    border-bottom: 1px solid black;
    margin-bottom: 1rem;
}
.website{
    grid-row-start: 7;
    grid-row-end: 8;
    grid-column-start: 2;
    grid-column-end: 4;   
    font-size: 2rem;
    font-family: 'PPNeueMontreal';
}
.platform{
    grid-row-start: 7;
    grid-row-end: 8;
    grid-column-start: 7;
    grid-column-end: 10;   
    font-size: 2rem;
    font-family: 'PPNeueMontreal';
}
.year1{
    grid-row-start: 7;
    grid-row-end: 8;
    grid-column-start: 12;
    grid-column-end: 13;   
    font-size: 2rem;
    font-family: 'PPNeueMontreal';
}
.border2{
    grid-row-start: 7;
    grid-row-end: 8;
    grid-column-start: 2;
    grid-column-end: 13;
    border-bottom: 1px solid black;
    margin-bottom: 2rem;
}
.website1{
    grid-row-start: 8;
    grid-row-end: 9;
    grid-column-start: 2;
    grid-column-end: 4;   
    font-size: 2rem;
    font-family: 'PPNeueMontreal';
}
.platform1{
    grid-row-start: 8;
    grid-row-end: 9;
    grid-column-start: 7;
    grid-column-end: 10;   
    font-size: 2rem;
    font-family: 'PPNeueMontreal';
}
.year2{
    grid-row-start: 8;
    grid-row-end: 9;
    grid-column-start: 12;
    grid-column-end: 13;   
    font-size: 2rem;
    font-family: 'PPNeueMontreal';
}
.border3{
    grid-row-start: 8;
    grid-row-end: 9;
    grid-column-start: 2;
    grid-column-end: 13;
    border-bottom: 1px solid black;
    margin-bottom: 2rem;
}
.website2{
    grid-row-start: 9;
    grid-row-end: 10;
    grid-column-start: 2;
    grid-column-end: 4;   
    font-size: 2rem;
    font-family: 'PPNeueMontreal';
}
.platform2{
    grid-row-start: 9;
    grid-row-end: 10;
    grid-column-start: 7;
    grid-column-end: 11;   
    font-size: 2rem;
    font-family: 'PPNeueMontreal';
}
.year3{
    grid-row-start: 9;
    grid-row-end: 10;
    grid-column-start: 12;
    grid-column-end: 13;   
    font-size: 2rem;
    font-family: 'PPNeueMontreal';
}
.border4{
    grid-row-start: 9;
    grid-row-end: 10;
    grid-column-start: 2;
    grid-column-end: 13;
    border-bottom: 1px solid black;
    margin-bottom: 2rem;
}
.website3{
    grid-row-start: 10;
    grid-row-end: 11;
    grid-column-start: 2;
    grid-column-end: 4;   
    font-size: 2rem;
    font-family: 'PPNeueMontreal';
}
.platform3{
    grid-row-start: 10;
    grid-row-end: 11;
    grid-column-start: 7;
    grid-column-end: 11;   
    font-size: 2rem;
    font-family: 'PPNeueMontreal';
}
.year4{
    grid-row-start: 10;
    grid-row-end: 11;
    grid-column-start: 12;
    grid-column-end: 13;   
    font-size: 2rem;
    font-family: 'PPNeueMontreal';
}
.border5{
    grid-row-start: 10;
    grid-row-end: 11;
    grid-column-start: 2;
    grid-column-end: 13;
    border-bottom: 1px solid black;
    margin-bottom: 2rem;
}
.website4{
    grid-row-start: 11;
    grid-row-end: 12;
    grid-column-start: 2;
    grid-column-end: 4;   
    font-size: 2rem;
    font-family: 'PPNeueMontreal';
}
.platform4{
    grid-row-start: 11;
    grid-row-end: 12;
    grid-column-start: 7;
    grid-column-end: 11;   
    font-size: 2rem;
    font-family: 'PPNeueMontreal';
}
.year5{
    grid-row-start: 11;
    grid-row-end: 12;
    grid-column-start: 12;
    grid-column-end: 13;   
    font-size: 2rem;
    font-family: 'PPNeueMontreal';
}
.border6{
    grid-row-start: 11;
    grid-row-end: 12;
    grid-column-start: 2;
    grid-column-end: 13;
    border-bottom: 1px solid black;
    margin-bottom: 2rem;
}