.container{
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: repeat(4, 1fr);
    margin: 0rem 1.5rem;
    margin-top: 2rem;
    /* border: 1px solid red; */
    padding-top: 2rem;
}
.span{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    font-size: 2rem;
    font-weight: 200;
}
.title{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 5;
    font-family: 'PPNeueMontreal';
    font-size: 2rem;
    font-weight: 800;
}
.title2{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 7;
    grid-column-end: 9;
    font-family: 'PPNeueMontreal';
    font-size: 2rem;
    font-weight: 800;
}
.email{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 8;
    font-family: 'PPNeueMontreal';
    font-size: calc(12vmax * 9 / 16);
    font-weight: 800;
    text-transform: uppercase;
}
@media (max-width: 900px) {
    .container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(9, 1fr);
        margin: 0rem 1.5rem;
        margin-top: 2rem;
        padding-top: 2rem;
    }
    .span{
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 2;
        font-size: 2rem;
        font-weight: 200;
    }
    .title{
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 3;
        font-family: 'PPNeueMontreal';
        font-size: calc(6vmax * 9 / 16);
        font-weight: 800;
    }
    .title2{
        grid-row-start: 5;
        grid-row-end: 6;
        grid-column-start: 1;
        grid-column-end: 5;
        font-family: 'PPNeueMontreal';
        font-size: calc(6vmax * 9 / 16);
        font-weight: 800;
    }
    .email{
        grid-row-start: 7;
        grid-row-end: 8;
        grid-column-start: 1;
        grid-column-end: 8;
        font-family: 'PPNeueMontreal';
        font-size: calc(6vmax * 9 / 16);
        font-weight: 800;
        text-transform: uppercase;
    }
}