.container{
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(12, 1fr);
    margin: 0rem 1.5rem;
    margin-top: 2rem;
    padding-top: 2rem;
    border: 1px solid blue;
}
.span{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    font-size: 2rem;
    font-weight: 200;
}
.title{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 6;
    grid-column-end: 13;
    font-size: calc(10vmax * 9 / 16);
    font-family: 'PPNeueMontreal';
    text-transform: uppercase;
}
.genre{
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 13; 
    font-size: calc(5vmax * 9 / 16);
    /* padding-bottom: 2rem; */
    font-family: 'PPNeueMontreal';
    text-transform: uppercase; 
}
.image_container{
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(12, 1fr);
    gap: 2rem;
    margin: 0rem 1.5rem;
    padding-top: 4rem;
    border: 1px solid blue;

}
.img{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 5;
} 
.img2{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 5;
    grid-column-end: 9;  
}  
.img3{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 9;
    grid-column-end: 13;  
} 
.description{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 5;
    font-size: calc(2vmax * 9 / 16);
    font-family: 'PPNeueMontreal';
    text-transform: uppercase;
    font-weight: 800;
    transition: all 0.1s ease-in-out;
}
.description2{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 5;
    grid-column-end: 9;
    font-size: calc(2vmax * 9 / 16);
    font-family: 'PPNeueMontreal';
    text-transform: uppercase;
    font-weight: 800;
    transition: all 0.1s ease-in-out;
}
.description3{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 9;
    grid-column-end: 13;
    font-size: calc(2vmax * 9 / 16);
    font-family: 'PPNeueMontreal';
    text-transform: uppercase;
    font-weight: 800;
    transition: all 0.1s ease-in-out;   
}
.description:hover {
    color: rgb(222, 104, 0);
  }
  .description2:hover {
    color: rgb(222, 104, 0);
  }
  .description3:hover {
    color: rgb(222, 104, 0);
  }
  .graphics_container{
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(12, 1fr);
    gap: 2rem;
    margin: 4rem 1.5rem;
    padding-top: 4rem;
    border: 1px solid blue;  
  }
  .genre2{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 5;
    font-size: calc(5vmax * 9 / 16);
    font-family: 'PPNeueMontreal';
    text-transform: uppercase;
    padding-bottom: 2rem;
  }  
  .img4{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 5;  
  }
  .img5{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 5;
    grid-column-end: 9;  
  }   
@media (max-width: 900px) {
    .container{
        display: grid;
        grid-template-rows: repeat(5, 1fr);
        grid-template-columns: repeat(2, 1fr);
        margin: 0rem 1.5rem;
        margin-top: 2rem;
        padding-top: 2rem;
    }
    .span{
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 2;
        font-size: 2rem;
        font-weight: 200;
    }
    .title{
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 12;

    }
    .genre{
        grid-row-start: 4;
        grid-row-end: 5;
        grid-column-start: 1;
        grid-column-end: 3; 
        font-size: calc(7vmax * 9 / 16);
        font-family: 'PPNeueMontreal';
        text-transform: uppercase;
 
    }
    .image_container{
        display: grid;
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: repeat(2, 1fr);
        margin: 0rem 1.5rem;
        padding-top: 2rem; 
    }
    .img{
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .img2{
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 3;
    }  
    .img3{
        grid-row-start: 5;
        grid-row-end: 6;
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .description{
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 3;
        font-size: calc(5vmax * 9 / 16);
        font-family: 'PPNeueMontreal';
        text-transform: uppercase;
        font-weight: 800;   
    }
    .description2{
        grid-row-start: 4;
        grid-row-end: 5;
        grid-column-start: 1;
        grid-column-end: 3;
        font-size: calc(5vmax * 9 / 16);
        font-family: 'PPNeueMontreal';
        text-transform: uppercase;
        font-weight: 800;   
    }
    .description3{
        grid-row-start: 6;
        grid-row-end: 7;
        grid-column-start: 1;
        grid-column-end: 3;
        font-size: calc(5vmax * 9 / 16);
        font-family: 'PPNeueMontreal';
        text-transform: uppercase;
        font-weight: 800;   
    }
    .graphics_container{
        display: grid;
        grid-template-rows: repeat(1, 1fr);
        grid-template-columns: repeat(12, 1fr);
        gap: 2rem;
        margin: 4rem 1.5rem;
        border: 1px solid blue;  
    }
    .genre2{
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 13; 
        font-size: calc(7vmax * 9 / 16);
        font-family: 'PPNeueMontreal';
        text-transform: uppercase;
        border: 1px solid red;
      }
      .img4{
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 13;
    }
    .img5{
        grid-row-start: 4;
        grid-row-end: 5;
        grid-column-start: 1;
        grid-column-end: 13;
    }       
}
